body{
    font-family: 'Montserrat', sans-serif;
    background-color:  #E5E5E5;
}

/* main styles */
.main{
    display: flex;
    flex-direction: row-reverse;
    width: 1200px;
    margin: 40px auto;
}
.main_content{
    background-color: #fff;
    box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.1);
    padding: 105px 90px;
}
.about_position{
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    margin: 0;
}
.about_name{
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    line-height: 55px;
    color: #000000;
    margin-top: 20px;
    margin-bottom: 25px;
}
.about_descr{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #595959;
    width: 400px;
    margin: 0;
}

/* project styles */
.projects{
    margin-top: 40px;
}
.title{
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    color: #000000;
    margin: 0;
}
.project_list {
    padding: 0;
    margin-left: 18px;
    margin-top: 10px;
}
.project_number, .project_bracket{
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    color: #000000;
}
.project, .project_link{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #595959;
}
.project_link{
    margin-left: 10px;
}
/* work styles */
.work{
    margin-top: 50px;
}
.work_position{
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #000000;
    margin-bottom: 10px;
}
.work_organization{
    color: #FB6D3A;
}
.period{
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #A8A8A8;
    margin-bottom: 10px;
}
.line{
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #000000;
}
.work_list{
    padding: 0;
    margin-left: 18px;
    width: 509px;
    margin-top: 0;
}
.work_item{
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    color: #595959;
}
.work_text{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #595959;
}
/* education styles */
.education{
    margin-top: 45px;
    width: 525px;
}
.edn_university{
    margin-top: 15px;
    margin-bottom: 0;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #FB6D3A;
}
.edn_profession{
    margin-top: 10px;
    margin-bottom: 0;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
}
.edn_period{
    margin-top: 12px;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #A8A8A8;
}

/* sidebar styles */
.sidebar{
    background-color:#1E2939;
    padding-top: 40px;
    width: 370px;
    
}
.photo{
    width: 370px;
}
.sidebar_title{
    color: #ffffff;
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    margin-bottom: 10px;
}
ul{
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
}
.contacts, .tech, .soft{
    margin-left: 40px;
}
.contact_type{
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    color: #FFFFFF;
    margin-right: 5px;
}
.contact_link{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #565E6A;
}
.tech, .soft{
    margin-top: 45px;
    
}
.tech_skills_list, .soft_skills_list{
    color:#ffffff;
    padding: 0;
    margin-left: 17px;
}
.tech_skill_text, .soft_skill_text{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #FFFFFF;
}
.tech_skills_item, .soft_skills_item{
    color: #FB6D3A;
}
